{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Tickets</h1>
<ul class="list-group list-group-flush" id="ticket">
  {% for ticket in user.tickets %}
  <li class="list-group-item">
    {{ ticket.data }}
    <button type="button" class="close" onClick="deleteTicket({{ ticket.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="ticket" id="ticket" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Ticket</button>
  </div>
</form>
{% endblock %}
