{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<h1 align="center">Tickets</h1>

<!-- List element that will generate all tickets-->
<ul class="list-group list-group-flush" id="ticket">
  {% for ticket in user.tickets %}
  <li class="list-group-item">

    Name:<cite id="editableContent{{ ticket.id }}" contenteditable="true">{{ ticket.name }} </cite><br />
    Data:<cite id="editableContent{{ ticket.id }}2" contenteditable="true">{{ticket.data}} </cite><br />
    Progress Type: {{ticket.progressType}}<br />

    <!-- Listner to edit the Name and Data of this** ticket in contenteditable and send it backend DB editableContent**ticketNumber -->
    <script>
      document
        .getElementById("editableContent{{ ticket.id }}")
        .addEventListener("blur", function () {
          const content = this.innerText;
          console.log(content);
          updateTicketName({{ ticket.id }},content)

        });
        document
        .getElementById("editableContent{{ ticket.id }}2")
        .addEventListener("blur", function () {
          const content2 = this.innerText;
          console.log(content2);
          updateTicketData({{ ticket.id }},content2)

        });
    </script>

  <!-- Delete Button for each ticket -->
    <button type="button" class="close" onClick="deleteTicket({{ ticket.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>

<!-- Form to add new ticket -->
<h1 align="center">New Ticket</h1>
<form method="POST">
  <br />
  <textarea name="ticket-name" id="ticket-name" class="form-control"></textarea>
  <textarea name="ticket" id="ticket" class="form-control"></textarea>

  <select
    name="ticket-progress"
    id="ticket-progress"
    class="form-control"
    size="4">
    
    <option value="Ideation">Ideation</option>
    <option value="In-Progress">In-Progress</option>
    <option value="Complete">Complete</option>
    <option value="Hold">Hold</option>
  
  </select>
 <br />

 <div align="center">
    <button type="submit" class="btn btn-primary">Add Ticket</button>
  </div>
</form>

<script>
  function updateTicketName(ticketId, ticketName) {
    console.log("Test - index json - update");
    fetch("/update-ticket", {
      method: "POST",
      body: JSON.stringify({
        ticketId: ticketId,
        ticketName: ticketName,
      }),
    }).then((_res) => {
      window.location.href = "/";
    });
  }

  function updateTicketData(ticketId, ticketData) {
    console.log("Test2 - index json - update2");
    fetch("/update-ticket2", {
      method: "POST",
      body: JSON.stringify({
        ticketId: ticketId,
        ticketData: ticketData,
      }),
    }).then((_res) => {
      window.location.href = "/";
    });
  }
</script>

{% endblock %}
